{% comment %} Liquid Learning {% endcomment %}
<style>
  .wrapper {
    padding: 100px;
    font-weight: bold;
    font-size: 20px;
  }
</style>
<div class="wrapper">
  {% comment %} assign and captured are the keywords to make variablres {% endcomment %}
  {% assign mystring = 'Hello world!' %}
  {{ mystring }}
  {% capture mysecondstring %}
     <p>This is My Second String</p>
    {% endcapture %}
  {{ mysecondstring }}
  
  {% comment %} Conditonal Structure in Shopify Liquid {% endcomment %}
  
   {% assign age_one = 35 %}
   {% assign age_two = 30 %}
   {% if age_one > age_two %}
    <p>something new</p>
    {{ age_one }}
   {% elsif age_one < age_two %}
     <p>something</p>
     {{ age_two }}
    {% endif %}

  {% comment %} "unless Keyword is used to execute set of code when certsin condition return false. 
     it is opposite of {% if %} and similar with {% if not %} " {% endcomment %}

     {% unless age_one > 40 %}
        <p>This Is Due to unless Keyword</p>
     {% else %}
        <p>This is BCZ unless is False</p>
     {% endunless %}

   {% comment %} Another Type of controlFlow is {% case %} it uses {% when %} keyword and also use else {% endcomment %}

  {% case age_two %}
    {% when 30 %}
      <p>You are Exactly 30 yeas old and use of case keyword</p>
    {% when 40 %}
      <p>You are Exactly 40 yeas old and use of case keyword</p>
    {% else %}
      <p>I dont care About your age and use of case keyword</p>
  {% endcase %}

  <!-- use of forloop -->
  {% for coll in collection %}
  <p>{{ coll.title }}</p>
    {% endfor %}
</div>
